*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}
body{
    background-color: #65bde6;
opacity: 1;
background-image: radial-gradient(#4a90ca 1.55px, #65bde6 1.55px);
background-size: 31px 31px;
    color: #070137;
    text-align: center;
}.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
    z-index: 2;
    background-color: rgb(31, 31, 31);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}
.container .menu a{
    display: inline-block;
    padding: 10px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 30%;
    position: fixed;
    background: #1c1c1c;
    height: 100vh;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.Mid{
    margin-top: 11%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}
.Mid .Nombre{
    font-size: 5em;
}
.Mid .Nombre p{
    padding: 5%;
}
.Mid .txt1{
    color: black;
    background-color: #e5d065;
background: linear-gradient(135deg, #e6b84255 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(225deg, #e6b842 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(315deg, #e6b84255 25%, transparent 25%) 0px 0/ 22px 22px, linear-gradient(45deg, #e6b842 25%, #e5d065 25%) 0px 0/ 22px 22px;
    border-style: solid;
    border-radius: 55px;
    padding: 10%;
    font-size: 1.5em;
}
.Mid .txt1 p{
    margin-top: 15%;
}
.Mid .txt1 .btn1{
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: transparent;
    color: black;
    padding: 5%;
    transition: 0.2s;
}
.Mid .txt1 h3{
    font-size: 150%;
}
.Mid .txt1 .btn1:hover{
    color: black;
    background-color: rgb(163, 239, 242);
}
.Gustos .gH2{
    font-size: 3em;
}
.Gustos img{
    width: 100%;
}
.Gustos .slider_nav{
    background-color: #e5d065;
opacity: 1;
background: linear-gradient(135deg, #e6b84255 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(225deg, #e6b842 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(315deg, #e6b84255 25%, transparent 25%) 0px 0/ 22px 22px, linear-gradient(45deg, #e6b842 25%, #e5d065 25%) 0px 0/ 22px 22px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    padding: 3%;
    border-style: solid;
    border-color: rgb(255, 205, 88);
    border-width: 5px;
}
.Gustos .slider_container{
    text-align: center;
    display: flex;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.Gustos .slider_container--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.slider_texto{
    margin-left: 15%;
    margin-right: 15%;
}
.slider_texto p{
    margin-top: 5%;
}
.slider_img{
    width: 50%;
    height: 50%;
}
.img_s{
    border-radius: 50px;
    margin-top: 15%;
    object-position: 50% 50%;
}
.flecha{
    width: 90%;
    cursor: pointer;
    transition: 0.3s;
}
.flecha:hover{
    filter: invert(100%) sepia(13%) saturate(2%) hue-rotate(128deg) brightness(111%) contrast(101%);
}
.sobreMi{
    color: black;
    background-color: #e5d065;
opacity: 1;
background: linear-gradient(135deg, #e6b84255 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(225deg, #e6b842 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(315deg, #e6b84255 25%, transparent 25%) 0px 0/ 22px 22px, linear-gradient(45deg, #e6b842 25%, #e5d065 25%) 0px 0/ 22px 22px;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}
.sobreMi_cont{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    margin-top: -5%;
}
.sobreMi_cont p{
    width: 55%;
}
.sobreMi_cont img{
    margin-left: 5%;
    width: 30%;
}
.sobreMi h3{
    font-size: 2em;
    padding: 5%;
}
footer{
    color: rgb(207, 207, 207);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(14, 14, 14);
    margin-top: 15%;
    padding: 5%;
}

footer a{
    color: white;
}
@media (max-width: 760px){
    *{
        
    }
    .cont-menu{
        max-width: 50%;
    }
    .cont-menu nav a{
        font-size: 1.5em;
    }
    .slider_img{
        width: 100%;
        height: 100%;
    }
    #b:checked~ul{
        right: -5%;
    }
    .Mid{
        margin-top: 30%;
        flex-direction: column;
    }
    .Mid .Nombre{
        font-size: 3.5em;
    }
    .sobreMi_cont p{
        width: 100%;
        margin-bottom: 3%;
    }
    .sobreMi_cont img{
        width: 90%;
    }
    footer{
        flex-direction: column;
    }
    footer .contacto{
        margin-bottom: 5%;
    }
    footer .redes{
        margin-bottom: 5%;
    }
    footer .mas_info{
        margin-bottom: 5%;
    }
}
