*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(59, 59, 59);
    color: rgb(236, 236, 236);
    text-align: center;
}
header{
    font-size: 1.6em;
}
header .menu-d {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
header .menu-d p{
    text-align: left;
    margin-left: 10%;
}
header .menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
header .menu a{
    color: white;
    text-decoration: none;
    padding: 15%;
    transition: 0.5s;
}
header .menu a:hover{
    color: rgb(236, 188, 57);
    transition: 0.2s;
}
.btn{
    font-size: 2em;
    float: right;
    color: white;
    display: none;
    margin-right: 0;
}
#b {
    display: none;
}
.Mid{
    margin-top: 25%;
    margin-bottom: 25%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.Mid .Nombre{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 3.5em;
}
.Mid .txt1{
    color: black;
    background-color: #ffd863;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #f7b945 12%, transparent 12.5%, transparent 87%, #f7b945 87.5%, #f7b945), linear-gradient(150deg, #f7b945 12%, transparent 12.5%, transparent 87%, #f7b945 87.5%, #f7b945), linear-gradient(30deg, #f7b945 12%, transparent 12.5%, transparent 87%, #f7b945 87.5%, #f7b945), linear-gradient(150deg, #f7b945 12%, transparent 12.5%, transparent 87%, #f7b945 87.5%, #f7b945), linear-gradient(60deg, #f7b94577 25%, transparent 25.5%, transparent 75%, #f7b94577 75%, #f7b94577), linear-gradient(60deg, #f7b94577 25%, transparent 25.5%, transparent 75%, #f7b94577 75%, #f7b94577);
    background-size: 38px 67px;
    background-position: 0 0, 0 0, 19px 33px, 19px 33px, 0 0, 19px 33px;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-radius: 55px;
    padding: 5%;
    margin-left: 7%;
    margin-right: 7%;
}
.Mid .txt1 .btn1{
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: transparent;
    color: black;
    padding: 5%;
    transition: 0.2s;
}
.Mid .txt1 h3{
    font-size: 2em;
}
.Mid .txt1 .btn1:hover{
    color: black;
    background-color: white;
}
.Gustos .gH2{
    font-size: 3em;
}
.Gustos img{
    width: 100%;
}
.Gustos .slider_nav{
    background-color: #ffd863;
    opacity: 0.8;
    background: linear-gradient(135deg, #f7b94555 25%, transparent 25%) -19px 0/ 38px 38px, linear-gradient(225deg, #f7b945 25%, transparent 25%) -19px 0/ 38px 38px, linear-gradient(315deg, #f7b94555 25%, transparent 25%) 0px 0/ 38px 38px, linear-gradient(45deg, #f7b945 25%, #ffd863 25%) 0px 0/ 38px 38px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    padding: 3%;
    border-style: solid;
    border-color: rgb(255, 205, 88);
    border-width: 5px;
}
.Gustos .slider_container{
    text-align: center;
    display: flex;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.Gustos .slider_container--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.slider_texto{
    font-size: 1.3em;
    margin-left: 15%;
    margin-right: 15%;
}
.slider_img{
    width: 50%;
    height: 50%;
}
.img_s{
    border-radius: 50px;
    margin-top: 15%;
    object-position: 50% 50%;
}
.flecha{
    width: 90%;
    cursor: pointer;
    transition: 0.3s;
}
.flecha:hover{
    filter: invert(100%) sepia(13%) saturate(2%) hue-rotate(128deg) brightness(111%) contrast(101%);
}
.Sobre_mi{
    margin-top: 15%;
    background-color: black;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(14, 14, 14);
    margin-top: 15%;
    padding: 5%;
}

@media (max-width: 760px){
    .btn{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 3%;
        margin-right: 3%;
    }
    .menu-d ul{
        position: fixed;
        flex-direction: column;
        width: 100%;
        top: 9%;
        right: -150%;
        text-align: center;
        transition: all .5s ease;
        margin-right: 5%;
        background-color: rgb(28, 28, 28);
        padding-right: 15%;
    }
    .menu li{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 2%;
        line-height: 30px;
    }
    #b:checked~ul{
        right: -5%;
    }
}